@model SearchViewModel

@{
    ViewData["Title"] = "Index";
}
<body style="margin-right: 250px;">
    <h1>List of Imported Products</h1>

    <p>
        <a asp-action="Create">Add a New Product</a>
    </p>
    <form asp-action="Index" asp-controller="Products" method="get" style="width: 500px ">
        <div class="form-group">
            <label asp-for="SearchProduct" class="control-label"> Search a Product</label>
            <input asp-for="SearchProduct" class="form-control" placeholder="search a product"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>

    <ul style="margin: 0 0 0 1230px">
        <li class="nav-item dropdown" style="list-style-type: none">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order By</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a asp-action="Index" asp-route-orderbyName="true"> Product Name</a>
                <br />
                <div class="dropdown-divider"></div>
                <a asp-action="Index" asp-route-orderbySupplier="true">  Supplier</a>
                <br />
                <div class="dropdown-divider"></div>
                <a asp-action="Index" asp-route-orderbyCountry="true">  Country</a>
                <br />
                <div class="dropdown-divider"></div>
                <a asp-action="Index" asp-route-orderbyPrice="true">  Goods Value</a>
                <br />
                <div class="dropdown-divider"></div>
                <a asp-action="Index" asp-route-orderbyCustomOffice="true">  Custom Office</a>


            </div>

        </li>
    </ul>


    <table class="table" style="        width: 1400px;
        margin-right: 1000px;
        background-color: #87ccc9
" >
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    Country
                </th>
                <th>
                    Custom Office
                </th>
                <th>
                    Invoice Date
                </th>
                <th>
                    Goods Value
                </th>
                <th>
                    Custom Duty Rate
                </th>
                <th>
                    VAT Rate
                </th>
                <th>
                    Customs Duty Paid To Customs
                </th>
                <th>
                    VAT Base
                </th>
                <th>
                    Value Added Tax Paid To Customs
                </th>
                <th>
                    Total Import Value
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomOffice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceDate.Day) / @Html.DisplayFor(modelItem => item.InvoiceDate.Month)/ @Html.DisplayFor(modelItem => item.InvoiceDate.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoodsValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomsDutyRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VATRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomsDutyPaidToCustoms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VATBase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValueAddedTaxPaidToCustoms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalImportValue)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>